@font-face {
  font-family: 'Title';
  src: url('./fonts/OtomanopeeOne-Regular.ttf') format('truetype'); /* Chemin vers votre fichier TTF */
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #B3D0C5;
  color: #1B4543;
  font-family:'Junge', cursive;
  font-size: 1.1em;
  line-height: 22px;
  padding: 0;
  text-align: justify;
}

h1 {
  font-size: 3em;
  font-family: 'Title', sans-serif;
  margin: 2em 0 1.4em 0.5em;
  text-align: left;

}

h2 {
  font-size: 1.7em;
  font-family: 'Junge', cursive;
  margin-bottom: 0.5em;
}

.up-page {
  background-color: #1B4543;
  height: 5em;
  border-radius: 1em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.up-page p{
  padding-top: 30px;
  padding-left: 0.2em;
  color: #FFF2E1;
  font-size: 5.5em;
  font-family: 'Lobster', sans-serif;
}

.links-up {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sections {
  color: #FFF2E1;
  font-size: 1.1em;
  font-family: 'Junge', cursive;
  margin-right: 1em;
  width: 8em;
  display: flex;
  justify-content: center;
}

.sections:hover {
  color: #B3D0C5;
  transition: 0.5s;
  font-size: 1.2em;
}

.geeft-pres {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.demo-vid {
  width: 20em;
  height: 761.83px;
  border-radius: 2em;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  margin-left: -0.3em;
  border: #1B4543 solid 0.2em;
}

.column-pres {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 760.84px;
  margin: 1em;
}

.bloc-app {
  background-color: #FFF2E1;
  border-radius: 2em;
  padding: 1.3em;
  height: 50%;
  margin-bottom: 0.5em;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.bloc-story {
  background-color: #FFF2E1;
  border-radius: 2em;
  padding: 1.3em;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  margin-top: 0.5em ;
  height: 50%;
}

.demoday-pres {
  display: flex;
  flex-direction: row-reverse;
}

.demoday-vid {
  border-radius: 2em;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  margin-left: 1em;
  border: #1B4543 solid 0.2em;
}

.bloc-demoday {
  background-color: #FFF2E1;
  border-radius: 2em;
  padding: 1.3em;
  min-height: 15em;
  width: 50%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.nina-pres {
  display: flex;
  margin-bottom: 14em;
}

.bloc-nina {
  background-color: #FFF2E1;
  border-radius: 2em;
  padding: 1.3em;
  min-height: 15em;
  width: 70%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.infos-nina {
  background-color: #FFF2E1;
  border-radius: 2em;
  padding: 1.3em;
  min-height: 15em;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  margin-left: 1em;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img-nina {
  width: 12em;
  height: 12em;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border: #1B4543 solid 0.2em;
  margin-bottom: 2.5em;
}

.links-down {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 1em;
}

button {
  background-color: #1B4543;
  border-radius: 1em;
  padding: 0;
  padding-top: 1em;
  padding-bottom: 1em;
  margin: 0.5em;
  cursor: pointer;
  width: 50%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

button:hover {
  background-color: #B3D0C5;
  transition: 0.5s;
}

a {
  text-decoration: none;
  font-size: 0.9em;
  color: #FFF2E1;
}

a:hover {
  color: #1B4543;
  transition: 0.5s;
}


@media only screen and (max-width: 1200px) {
  .geeft-pres {
    flex-direction: column;
  }

  .column-pres {
    display: flex;
    flex-direction: row;
    height: 100%;
    margin: 0;
    margin-top: 1em;
  }

  .bloc-app {
    width: 50%;
    margin-right: 0.5em;
    height: 30em;
    margin-bottom: 0;
  }

  .bloc-story {
    width: 50%;
    margin-left: 0.5em;
    height: 30em;
    margin-top: 0;
  }

  .demoday-pres {
    flex-direction: column;
    background-color: #FFF2E1;
    align-items: center;
    border-radius: 2em;
    padding: 1.3em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  }

  .demoday-pres h2 {
    display: flex;
    justify-content: center;
  }


  .demoday-vid {
    border-radius: 2em;
    box-shadow: none;
    margin-left: 0;
    border: #1B4543 solid 0.2em;
  }

  .bloc-demoday {
    margin-top: 2em;
    background-color: none;
    border-radius: 0;
    padding: 0;
    min-height: 0;
    width: 40em;
    box-shadow: none;
  }

  .links-down {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 0;
    flex-direction: column;
  }
}

@media only screen and (max-width: 992px) {
  .up-page {
    height: 4em;
  }

  .up-page p {
    padding-top: 32px;
    font-size: 4em;
  }

  .sections {
    font-size: 1em;
  }

  .demo-vid {
    width: 15em;
    height: 571.37px;
  }

  .bloc-app {
    height: 35em;
  }

  .bloc-story {
    height: 35em;
  }

  .bloc-demoday {
    width: 30em;
  }

  .bloc-nina {
    width: 60%;
  }

  .infos-nina {
    width: 30%;
  }

  .img-nina {
    width: 10em;
    height: 10em;
  }

  .links-down {
    flex-direction: column;
  }

  button {
    width: 80%;
  }

}

@media only screen and (max-width: 770px) {
  .up-page p {
    padding-top: 20px;
    font-size: 4em;
  }

  .sections {
    font-size: 0.8em;
    width: 7.4em;
  }

  .column-pres {
    display: flex;
    flex-direction: column;
  }

  .demo-vid {
    width: 15em;
    height: 571.37px;
  }

  .bloc-app {
    height: 29em;
    width: 100%;
    margin-right: 0;
  }

  .bloc-story {
    height: 29em;
    width: 100%;
    margin-left: 0;
    margin-top: 1em;
  }

  .bloc-demoday {
    width: 20em;
  }

  .nina-pres {
    flex-direction: column;
  }

  .bloc-nina {
    width: 100%;
  }

  .infos-nina {
    width: 100%;
    margin-left: 0;
    margin-top: 1em ;
  }

  .links-down {
    flex-direction: column;
  }

  button {
    width: 80%;
  }

  .sections:hover {
    font-size: 0.9em;
  }
}


@media only screen and (max-width: 525px) {
  .links-up {
    flex-direction: column;
  }


  .sections {
    font-size: 0.9em;
    width: 7.4em;
  }

  .sections:hover {
    font-size: 0.9em;
  }
}
